<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input type="radio" name="roleid" value="1" title="ADMIN">
<input type="radio" th:value="${users.sex}" name="sex" value="1" title="男" checked="">
<div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon"></i>
    <div>ADMIN</div>
</div>
<input type="radio" name="roleid" value="2" title="USER">
<div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon"></i>
    <div>USER</div>
</div>
<input type="radio" name="roleid" value="3" title="TEACHER">
<div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon"></i>
    <div>TEACHER</div>
</div>
<input type="radio" name="roleid" value="4" title="test">
<div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon"></i>
    <div>test</div>
</div>

</body>
</html>